# Ejecutables y Librerías
*.a
*.o
*.out

# Testers (como Tripouille o Francinette)
libftTester/
Francinette/
tester/

# Archivos temporales de editores
*.swp
*~
.DS_Store

# Archivos de depuración
*.dSYM/